.app-header {
	height: 5vh;

	padding: 10px;
	background-color: var(--clr4);
	color: var(--clr1);

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.app-header h1 {
	margin: 0;
}
.app-header nav {
	display: flex;
	gap: 10px;
}
