.book-details {
	display: grid;

	padding: 10px;
	background-color: lightsteelblue;
	margin-block-start: 10px;
}
.book-details img {
	width: 200px;
	justify-self: center;
}
.book-details button {
	justify-self: end;
}

.red {
	color: red;
}
.green {
	color: green;
}
