.book-list ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 10px;

	padding: 10px;
	background-color: lightblue;
	list-style-type: none;
}
.book-list ul li {
	padding: 10px;
	background-color: darkseagreen;
}
