* {
	box-sizing: border-box;
	border-radius: 0.3em;
}

body {
	margin: 0;
	padding: 0;
	font-family: OpenSans, serif;
	color: var(--clr1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0 0 0.5em;
}

a {
	text-decoration: none;
	color: unset;
}

/* Dont stretch my Media */

img,
embed,
video,
object {
	max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */

.debug * {
	outline: 1px solid gold;
}

button,
a {
	all: unset;
	cursor: pointer;
	filter: drop-shadow(rgba(0, 0, 0, 0.25) 1.5px 1.5px 1.5px);
	transition: scale 250ms;
}
button:hover,
a:hover {
	scale: 1.025;
}

input {
	/* all: unset; */
	background-color: var(--clr5);
	color: var(--clr1);
	border-radius: 0.2em;
	border: 1px solid var(--clr1);
	font: inherit;
	filter: drop-shadow(rgba(0, 0, 0, 0.25) 1.5px 1.5px 1.5px);
}
