.app {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr clamp(85vw, 1100px, 97.5vh) 1fr;
	grid-template-rows: repeat(auto-fit, fit-content);
}

.app > *:not(.full) {
	grid-column: 2;
}

.app > .full {
	grid-column: 1 / -1;
}

.router-view {
	min-height: calc(90vh);
	/* overflow-y: auto; */
}